<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>retyrt</display-name>
  <servlet>
    <servlet-name>Login_servlet</servlet-name>
    <servlet-class>com.smarthealth.controller.Login_servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AcceptServlet</servlet-name>
    <servlet-class>com.smarthealth.controller.AcceptServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RejectServlet</servlet-name>
    <servlet-class>com.smarthealth.controller.RejectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FriendRequest</servlet-name>
    <servlet-class>com.smarthealth.controller.FriendRequest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>View_requests</servlet-name>
    <servlet-class>com.smarthealth.controller.View_requests</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Unfriend</servlet-name>
    <servlet-class>com.smarthealth.controller.Unfriend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.smarthealth.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_servlet</servlet-name>
    <url-pattern>/Login_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FriendRequest</servlet-name>
    <url-pattern>/FriendRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>View_requests</servlet-name>
    <url-pattern>/View_requests</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AcceptServlet</servlet-name>
    <url-pattern>/AcceptServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RejectServlet</servlet-name>
    <url-pattern>/RejectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Unfriend</servlet-name>
    <url-pattern>/Unfriend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
</web-app>